.ant-table-wrapper{
    height: 100%;
    .ant-spin-nested-loading{
        height: 100%;
    }
    .ant-spin-container{
        height: 100%; position: relative;
    }
    .ant-table{
        max-height: 90%;
        // overflow: scroll;
        line-height: 1;
        tr, td{
            line-height: 1;
        }
        .row-operation-btn{
            color: blue; padding: 0 5px;
            &:hover{
                text-decoration: underline;
                color: red; cursor: pointer;
            }
        }
    }
    .ant-pagination, .ant-table-pagination{
        position: absolute; bottom: 6px; right: 23px;
        width: 100%; text-align: right;
    }
    .ant-table-content{
        height: 100%;
        .ant-table-body{
            height: 100%;
            table{
                height: 100%;
            }
        }
    }
}
.ant-modal-content{
    max-height: 100% !important; overflow: hidden;
}